<div class="alert alert-secondary mt-4 shadow-lg" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <p>
        To test the app in off-line mode install it as PWA and switch the device to fly mode
    </p>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
