@page "/fetchdata"

@using NorthwindPwa.Data
@using NorthwindPwa.Models;
@using Blazor.IndexedDB.WebAssembly;

@inject IIndexedDbFactory DbFactory

<h5>This page works off-line</h5>
<h7>Data loaded from the IndexedDB</h7>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" style="color:white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id.ToString()</td>
                    <td>@product.Name</td>
                    <td>@product.UnitPrice.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
        #region
        List<Product> products { get; set; } = new List<Product>();

        protected override async Task OnInitializedAsync()
        {

            using (NorthwindDb db = await this.DbFactory.Create<NorthwindDb>())
            {
#if DEBUG
            await Task.Delay(6000);
#endif
            foreach (Product product in db.Products)
            {
                products.Add(product);
            }
        }
    }


#endregion
}
